<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "0.1.0">

<name>GuestPortal Beta</name>

<content src="index.html"/>

<description>
Powerfull Guest Tools for hospitality services.
</description>

<author href="http://wifienter.com" email="alejandro.c@wifienter.net">
TravelMedia - By Alejandro Osorio 2013
</author>
<icon src="icon.png" gap:platform="android" gap:density="ldpi" />

<gap:splash src="splash.png" gap:platform="android" gap:density="ldpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash.png" gap:platform="android" gap:density="hdpi" />

<access origin="190.145.24.146" browserOnly="true" />
<access origin="http://190.145.24.146" browserOnly="true" />
<access origin="http://wifienter.net" browserOnly="true" />
<access origin="*" browserOnly="true" />
<plugin name="InAppBrowser" value="org.apache.cordova.InAppBrowser" />

</widget>
